body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
}

input{
    min-width: 400px;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
th{
    width: 150px;
}
.data{
    position: relative;
    left: 100px;
    right: 100px;
    top: 50px;
}

button{
    background-color: rgb(25, 146, 194);
    color: rgb(250, 248, 248);
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100px;
}

img{
    width: 100px;
}

tbody>tr:nth-child(even){
    background-color: rgb(223, 223, 230);
}

#popup{
    width: 800px;
    height: 800px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    transform : translate(60%, 30%)
}

